@model IEnumerable<QuizApplication.Models.Quiz>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card-columns">







        @foreach (var item in Model)
        {

                <div class="card mb-3">
                    <div style="height: 100%; max-height: 200px; overflow: hidden; display: flex; justify-self: center; align-content: center; align-items: center;">
                        <img class="card-img-top" style="height: 100%; " src="@item.ImgUrl" alt="Card image">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title mb-0">@item.QuizName</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-primary" style="color: white;">
                            Difficulty: @item.Difficulty
                        </li>
                    </ul>
                    <div class="card-body">
                        <a class=" btn-primary btn" asp-controller="Play" asp-action="Index" asp-route-id="@item.QuizID">play</a>
                    </div>
                </div>
        }
    </div>

