@model IEnumerable<QuizApplication.Models.Quiz>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quizzes</h1>

@*@if ( User.IsInRole("Admin"))
{*@
<p>
    <a asp-action="Create">Create New</a>
</p>
@* } *@


<div class="cards">
    @foreach (var item in Model)
    {
        <div class="card">
            <a asp-action="Details" asp-route-id="@item.QuizID" class="card-link">
                <img src="@Html.DisplayFor(modelItem => item.ImgUrl)"
                     class="card-image" alt="">
                <div class="content">
                    <p class="title">
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </p>
                    <p class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </div>
            </a>
        </div>
    }
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuizName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.QuizID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.QuizID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.QuizID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
